include README.md
include LICENSE

# Package Python modules and helpers
recursive-include px_device_interfaces *.py
recursive-include px_device_interfaces/examples *
recursive-include px_device_interfaces/transports *
recursive-include px_device_interfaces/tests *
recursive-include px_device_interfaces/utils *
recursive-include px_device_interfaces/tools *.py